<style type="text/css">
    .footer{
        min-height: 100px;
    }
</style>
<!--footer-->

<div class="d-flex flex-row align-items-center footer bg-white border-top shadow-lg">
    <p class="m-auto">Blog app portfolio | <script>document.write(new Date().getFullYear())</script> G.C</p>
</div>
<!--end footer-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


